[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
tox = "*"
coverage = "*"
pytest-asyncio = "*"

[packages]
django-appconf = "==1.0.4"
channels = {version = "==4.0.0", extras = ["daphne"]}

[requires]
python_version = "3"
